/.idea/vcs.xml
/build/LaSolv/warn-LaSolv.txt
/.idea/workspace.xml
/build/LaSolv/xref-LaSolv.html
/build/LaSolv/PYZ-00.pyz
/build/LaSolv/PYZ-00.toc
/README.rtf
/requirements.txt
/build/LaSolv/Tree-00.toc
/build/LaSolv/Tree-01.toc
/build/LaSolv/Tree-02.toc
/build/LaSolv/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/LaSolv_reduced_worked.iml
/dist/LaSolv.app/Contents/Resources/LaSolv_icon.icns
/build/LaSolv/LaSolv.pkg
/dist/LaSolv.ini
/dist/LaSolv
/dist/LaSolv.app/Contents/MacOS/LaSolv
/dist/LaSolv.app/Contents/Info.plist
/build/LaSolv/EXE-00.toc
/dist/LaSolv.app/Contents/_CodeSignature/CodeResources
/LaSolv.ini
/build/LaSolv/Analysis-00.toc
/build/LaSolv/base_library.zip
/build/LaSolv/BUNDLE-00.toc
